<article class="gh-card {{post_class}}">

    <a class="gh-card-link" href="{{url}}">

        <header class="gh-card-header">
            <h2 class="gh-card-title">{{title}}</h2>
        </header>

        <div class="gh-card-excerpt">{{excerpt}}</div>
    </a>
    <footer class="gh-card-footer">
      {{#primary_tag}}
        <a class="gh-tag-name post-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
      {{/primary_tag}}
      <time class="gh-card-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
    </footer>

</article>
